/*HEADER*/

.site-logo {
    display: block;
    margin: 0 auto;
    width: 50px !important;
    height: 50px !important;
    padding: 0 15px !important;
}

 /*MAIN*/
#main {
    position: relative;
    padding: 20px 0;
    background-color: gainsboro;
}

#content {
    width: 73%;
    float: left;
    background-color: aquamarine;
}
.editorpick {
    background: #fff;
    margin: 0 0 20px;
    display: -webkit-box;
}

.editorpick-holder {
    padding: 0 16px 0 0;
    float: left;
    width: 65.3%;
    position: relative;
    max-height: 1000000px;
}

.absolute-div {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0 16px 0 0;
}

#ep_video_container {
     width: 100%;
     height: 100%;
 }

.player-holder {
    margin: 0 0 18px;
    position: relative;
    width: 100%;
    height: 100%;
}

.player-holder iframe {
    width: 100%;
    height: 100%;
}

.editorpick-videos {
    padding: 6px 6px 6px 0;
    float: right;
    width: 34.7%;
}

.scrollable-area-wrapper {
    position: relative;
    overflow: hidden;
    width: 100% !important;
    height: auto !important;
}

.editorpick-videos .scrollable-area {
    position: relative;
    overflow: hidden;
    width: 282px;
    height: 293px;
    padding: 0 4px 0 0;
}

.featured-video:first-child {
    padding: 10px 0 14px;
}

.featured-video {
    background: #fff;
    font-size: 13px;
    line-height: 15px;
    font-family: "source_sans_prolight", sans-serif;
    color: #757575;
    padding: 14px 0;
    border-bottom: 1px solid #d9d9d9;
}

.featured-video:last-child {
    border: none;
}

.featured-video .video_thumb {
    cursor: pointer;
    position: relative;
    float: left;
    width: 112px;
    margin: 0 10px 0 0;
}

.featured-video .details_block {
    overflow: hidden;
}

.featured-video .title {
    color: #000;
    font: 400 16px/18px "source_sans_proregular", sans-serif;
    margin: 0 0 4px;
}

.featured-video .author {
    margin: 0 0 2px;
    color: #0080b4;
}

#sidebar {
    float: right;
    width: 25.6%;
}

 /*FOOTER*/
.site-footer {
    height:120px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: space-around;
}

.site-footer .site-logo {
    display: block;
    margin: 0 auto;
    width: 25px;
    height: 25px;
}

.site-footer h2 {
    text-align: center;
}

.site-footer p {
    text-align: center;
    font-size: 0.8em;
}

.site-footer a {
    padding: 0 5px;
}

.site-footer img {
    padding: 0 10px;
    margin-top: 10px;
}

.footer-menu-bar {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
    align-content: center;
    width: 100%;
    padding: 0 25px;
}

.footer-menu-bar-ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: center;
    float: right;
    margin: 0;
    padding: 0;
    font-family: HiraginoSans-W6;
    font-size: 12px;
    color: #404D66;
    letter-spacing: 1.6px;
    margin-top: 10px;
}

.footer-detail {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: flex-start;
}

.footer-detail-p1 {
    font-family: Helvetica;
    font-size: 12px;
    color: #404D66;
    letter-spacing: 1.6px;
}

.footer-detail-p2 {
    font-family: HiraginoSans-W5;
    font-size: 12px;
    color: #404D66;
    letter-spacing: 1.6px;
}

footer ul li{
    list-style: none;
    position: relative;
}